* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px/1.8 'LXGW WenKai Mono TC', "Lato", "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", arial, sans-serif;
    color: rgb(149, 189, 206);
    background: url('../pics/background.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

::selection {
    background: #222;
    color: white;
}

a {
    font-weight: bold;
    color: rgb(149, 189, 206);
}

p {
    margin: 20px 0;
}

ul, ol {
    list-style: none;
}

.vi {
    position: relative;
    margin: 10px auto 0;
    width: 960px;
}

@media (max-width: 767px) {
    .vi {
        margin-top: 10px;
        width: auto;
    }
}

.vi h1 {
    text-align: center;
    position: relative;
    top: -10px;
    opacity: 0;
}

.quote {
    position: relative;
    margin: 40px 0;
    color: rgb(149, 189, 206);
    text-align: center;
    font-family: 'LXGW WenKai Mono TC', monospace;
}

.quote::before, .quote::after {
    position: absolute;
    content: ' ';
    display: block;
    width: 100%;
    height: 24px;
    opacity: 0.2;
}

.quote::before {
    top: -20px;
    border-top: 1px solid #ccc;
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyIDM0aDZsNC04di0xMmgtMTJ2MTJoNnptMTYgMGg2bDQtOHYtMTJoLTEydjEyaDZ6Ii8+PHBhdGggZD0iTTAgMGg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+PC9zdmc+") no-repeat 0 -7px;
    background-size: 24px 24px;
}

.quote::after {
    bottom: -20px;
    border-bottom: 1px solid #ccc;
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyIDM0aDZsNC04di0xMmgtMTJ2MTJoNnptMTYgMGg2bDQtOHYtMTJoLTEydjEyaDZ6Ii8+PHBhdGggZD0iTTAgMGg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+PC9zdmc+") no-repeat 100% 7px;
    background-size: 24px 24px;
}

.quote cite::before {
    content: "-";
    padding: 0 5px;
}

.quote p, .quote div {
    text-align: center
}

.quote p {
    font-family: 'LXGW WenKai Mono TC', monospace;
}

.quote-text {
    font-size: 1.2em;
    line-height: 1.5;
}

.quote-author {
    font-size: 0.9em;
}

.menu {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    font-family: 'LXGW WenKai Mono TC', monospace;
}

.menu a {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    font-family: 'LXGW WenKai Mono TC', monospace;
}

.menu a:hover {
    border-bottom: 1px solid #333;
}

.menu a:active {
    top: 1px !important;
}

.menu a:first-child {
    margin-left: 0;
}

.sidebar {
    margin: 0 auto;
    max-width: 500px;
}

@media (max-width: 767px) { 
    .sidebar {
        padding: 0 40px;
    }
}

.location {
    margin-top: 40px;
    text-align: center;
}

.location-icon {
    position: relative;
    top: 10px;
    opacity: 0;
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 40px;
    background-size: 16px;
}

.location-text {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    line-height: 40px;
    font-family: 'LXGW WenKai Mono TC', monospace;
}

.relocating {
    opacity: 0;
    color: #ccc;
    font-size: 13px;
    text-align: center;
    transition: all .3s ease;
    font-family: 'LXGW WenKai Mono TC', monospace;
}

.content {
    display: none;
    position: relative;
    margin-left: 400px;
    font-family: 'LXGW WenKai Mono TC', monospace;
}

.close {
    position: absolute;
    top: -10px;
    right: 10px;
}